<div class="container" id="chat-msg">
    <h2>CENTRO DE MENSAJES</h2>
    <h2 id="normalized-rate"></h2>
    <form id="formulario-chat">
        <span>Nombre </span><input type="text" name="nombre" id="nombre" placeholder="Luis" required><br>
        <span>Apellido </span><input type="text" name="apellido" id="apellido" placeholder="Vargas" required><br>
        <span>Edad </span><input type="text" name="edad" id="edad" placeholder="32" required><br>
        <span>Alias </span><input type="text" name="alias" id="alias" placeholder="LVargas" required><br>
        <span>Avatar </span><input type="text" name="avatar" id="avatar" placeholder="Avatar image .png" required><br>
        <span>Correo </span><input type="text" name="correo" id="correo" placeholder="123@correo.com" required><br>
        <div id="chat">

        </div>
        <input type="text" name="mensaje" id="mensaje" placeholder="Nuevo mensaje..." required>
        <button>Enviar</button>
    </form> 
</div>